
REACT_APP_RUNNING_NETWORK=Polygon
REACT_APP_DAPP_URL_METAMASK=vesting.ipaza.io

REACT_APP_POLYGON_URL=https://polygon-rpc.com
REACT_APP_CHAIN_ID=137
REACT_APP_EXPLORER=https://polygonscan.com/
REACT_APP_CURRENT_CHIANID=137

REACT_APP_BONDINGCURVE=0x6Ae8488B59cA8240a932B85b7B01B5515Ee52926
REACT_APP_PAZZA_ADDRESS=0x2c0316a70Eee548Dad88806d5742ff3C8B0E2dF5
REACT_APP_USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
REACT_APP_ADMIN_ADDRESS=0x8e8FB12D8652D257d924D87aF9870fC4628b0867
# REACT_APP_ADMIN_ADDRESS=0x8eb7Db78dd320D1E67C06Ec7A50E5e6127a86922








