@use "../../../Assets/Theme/_var.scss" as *;

.paza_withdraw {
    margin-top: 10px;
}

.paza_btn_sec {
    display: flex;
    justify-content: space-between;

    .Custombtn {
        width: 230px !important;
        padding: 0 10px;
        font-size: 16px;

    }

    @media (max-width:575px) {
        flex-wrap: wrap;
        justify-content: center;

        .Custombtn {
            width: auto !important;
            font-size: 14px;
            height: 44px;
            margin: 5px;
        }
    }
}